<section class="entregas-page">

  <div class="topbar">
    <h1>Entregas</h1>
    <p>Acompanhe as entregas e seus status operacionais.</p>
  </div>

  <div class="success-alert" *ngIf="sucesso()">
    <div class="success-icon"></div>
    <span>{{ sucesso() }}</span>
  </div>

  <div class="form-card">
    <h2>Buscar Entregas</h2>

    <div class="form-grid">
      <input
        type="number"
        placeholder="ID do Cliente"
        [(ngModel)]="clienteId"
      />
    </div>

    <button (click)="carregarEntregas()">
      Buscar Entregas
    </button>
  </div>

  <div class="form-card">
    <h2>Nova Entrega</h2>

    <div class="form-grid">
      <input
        type="number"
        placeholder="ID do Cliente"
        [(ngModel)]="clienteId"
      />

      <input
        type="number"
        placeholder="ID da Cotação"
        [(ngModel)]="novaEntrega.cotacaoId"
      />
    </div>

    <button (click)="criarEntrega()">
      Criar Entrega
    </button>
  </div>

  <p *ngIf="carregando()">Carregando entregas...</p>

  <p *ngIf="erro()">
    {{ erro() }}
  </p>

  <div class="entregas-grid" *ngIf="!carregando() && !erro()">

    <div class="entrega-card" *ngFor="let entrega of entregas()">
      <strong>Entrega #{{ entrega.id }}</strong>

      <div class="status-badge" [ngClass]="getStatusClass(entrega.status)">
  {{ entrega.status }}
    </div>

      <small>Rastreamento: {{ entrega.codigoRastreamento }}</small>
      <small>Cotação: {{ entrega.cotacaoId }}</small>
      <small>Cliente: {{ entrega.clienteId }}</small>
      <small>Criada em: {{ entrega.criadaEm }}</small>

      <div class="status-area" *ngIf="podeAlterar(entrega)">
        <select [(ngModel)]="statusSelecionado[entrega.id]">
          <option
            *ngFor="let status of statusDisponiveis"
            [value]="status"
          >
            {{ status }}
          </option>
        </select>

        <button (click)="atualizarStatus(entrega)">
          Atualizar
        </button>
      </div>

      <button
        class="danger-button"
        *ngIf="podeAlterar(entrega)"
        (click)="cancelarEntrega(entrega.id)"
      >
        Cancelar
      </button>
    </div>

  </div>

</section>